


.proveedor-info-container{
    
    
    .repse-fecha-container{
        display: flex;
        flex-direction: column;

        .fechas-container{
            display: flex;
        }

        .repse-container{

            .repse-document-wrap{

                .repse-wrap{
                    .form-check{

                    }
                }
            }

        }
    }
}